body {
	background-color: #EFEFEF;
	font-family: "Arial Black", Gadget, sans-serif;
	margin: 0;
	padding: 0;
}

div.large-welcome {
	background-color: #008EB1;
	color: #EFEFEF;
	font-size: 60px;
	padding: 80px 100px;
	text-align: center;
}

h2 {
	color: #303030;
	font-size: 30px;
	margin-top: 20px;
	margin-bottom: 10px;
}

h2:first-child {
	margin-top: 0;
}

p {
	text-align: justify;
}

div.content {
	display: block;
	margin: 0 auto;
	padding: 50px 0;
	width: 720px;
}
